.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.app-body {
  display: flex;
}

.box {
  width: 420px;
  margin: 10px;
  border: 1px solid #0a4658;
  box-shadow: 2px 7px 3px -6px black;
}

.box-header {
  background-color: #0a4658;
  color: white;
  text-align: center;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  text-transform: uppercase;
}

.box-body {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  color: #0a4658;

  .category-title
  {
    width: 100%;
    font-weight: 600;
    color: #317b63;
  }

  .box-category {
    // width: calc(33.3% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
    flex-grow: 1;

    p {
      margin-bottom: 5px;
    }
  }

  .box-category.first {
    flex-grow: 2;
    width: 80px;
  }

  .box-amount {
    border: 1px solid #0a4658;
    border-radius: 3px;
    padding: 10px;
  }

  .box-range {
    width: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;

    span {
      flex-grow: 1;
      width: 100px;
    }

    input {
      flex-grow: 2;
    } 

  }

}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
